$font-main: 'Open Sans', sans-serif;
$font-heading: 'Raleway', sans-serif;
$marker-blue-background: #173159;
$marker-blue-border: #001b43;
$marker-red-background: #d63500;
$marker-red-border: #b02c00;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: 600;
}
.marker-icon {
  border-radius: 100%;
  border: 3px solid;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  &--blue {
    background: $marker-blue-background;
    border-color: $marker-blue-border;
  }

  &--red {
    background: $marker-red-background;
    border-color: $marker-red-border;
  }
}


